<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>I'm a 24-year-old Brazillian guy. I work as an iOS Architect at CI&T and live in Campinas.</p>
  <p>
	 I have interesting in computer science in general, indie rock and productivity stuffs. Feel free to drop to get in touch :) 
  </p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>